footer
  .container
    ul.list-inline.pull-left
      li &copy; #{moment(Date.now()).format('YYYY')} puwebdev Learning Systems
    
    ul.list-inline.pull-right
      li
        a(href="http://www.puwebdev.net" target="_blank") www.puwebdev.net
