extends ../layouts/default_sco

block form
  
  .form-signin
    
      .list-group
        .list-group-item
          button.btn.btn-lg.btn-primary.btn-block.btn-login(type='button', onclick='doSetValue("cmi.core.lesson_status", "completed")') Set SCO
      textarea(id="status" style="width: 345px; height: 150px;")
      p.
      div.
      a(href="/login" class="forgot-password") Xpert World login
      div.clearfix

  
